<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load the dataset that will used thru the capstone project.
*   Explore the dataset.
*   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [3]:
import pandas as pd
import requests

The dataset is available on the IBM Cloud at the below url.

In [2]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [8]:
df = pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [9]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [10]:
df.shape[0]

11552

Print the number of columns in the dataset.

In [11]:
df.shape[1]

85

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [15]:
# your code goes here
pd.set_option('display.max_rows', None)
df.dtypes

Respondent                  int64
MainBranch                 object
Hobbyist                   object
OpenSourcer                object
OpenSource                 object
Employment                 object
Country                    object
Student                    object
EdLevel                    object
UndergradMajor             object
EduOther                   object
OrgSize                    object
DevType                    object
YearsCode                  object
Age1stCode                 object
YearsCodePro               object
CareerSat                  object
JobSat                     object
MgrIdiot                   object
MgrMoney                   object
MgrWant                    object
JobSeek                    object
LastHireDate               object
LastInt                    object
FizzBuzz                   object
JobFactors                 object
ResumeUpdate               object
CurrencySymbol             object
CurrencyDesc               object
CompTotal                 float64
CompFreq                   object
ConvertedComp             float64
WorkWeekHrs               float64
WorkPlan                   object
WorkChallenge              object
WorkRemote                 object
WorkLoc                    object
ImpSyn                     object
CodeRev                    object
CodeRevHrs                float64
UnitTests                  object
PurchaseHow                object
PurchaseWhat               object
LanguageWorkedWith         object
LanguageDesireNextYear     object
DatabaseWorkedWith         object
DatabaseDesireNextYear     object
PlatformWorkedWith         object
PlatformDesireNextYear     object
WebFrameWorkedWith         object
WebFrameDesireNextYear     object
MiscTechWorkedWith         object
MiscTechDesireNextYear     object
DevEnviron                 object
OpSys                      object
Containers                 object
BlockchainOrg              object
BlockchainIs               object
BetterLife                 object
ITperson                   object
OffOn                      object
SocialMedia                object
Extraversion               object
ScreenName                 object
SOVisit1st                 object
SOVisitFreq                object
SOVisitTo                  object
SOFindAnswer               object
SOTimeSaved                object
SOHowMuchTime              object
SOAccount                  object
SOPartFreq                 object
SOJobs                     object
EntTeams                   object
SOComm                     object
WelcomeChange              object
SONewContent               object
Age                       float64
Gender                     object
Trans                      object
Sexuality                  object
Ethnicity                  object
Dependents                 object
SurveyLength               object
SurveyEase                 object
dtype: object

Print the mean age of the survey participants.

In [16]:
# your code goes here
df['Age'].mean(axis=0)

30.77239449133718

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [20]:
# your code goes here
print("There are ", len(df['Country'].value_counts()),"unique countries in the Country column")
df['Country'].value_counts()

There are  135 unique countries in the Country column

United States                                3173
India                                         911
United Kingdom                                841
Germany                                       715
Canada                                        442
France                                        339
Brazil                                        328
Australia                                     287
Netherlands                                   259
Spain                                         257
Russian Federation                            211
Poland                                        205
Italy                                         188
Sweden                                        162
Switzerland                                   151
Ukraine                                       111
South Africa                                  104
Israel                                        104
Turkey                                         98
Mexico                                         98
Romania                                        95
Pakistan                                       93
Belgium                                        89
Austria                                        89
Denmark                                        85
Norway                                         84
Iran                                           83
Bulgaria                                       77
New Zealand                                    76
Greece                                         76
Argentina                                      73
Finland                                        72
Czech Republic                                 72
China                                          69
Portugal                                       69
Ireland                                        67
Hungary                                        64
Bangladesh                                     58
Serbia                                         53
Colombia                                       50
Japan                                          50
Nigeria                                        44
Sri Lanka                                      43
Malaysia                                       42
Egypt                                          39
Indonesia                                      36
Philippines                                    36
Slovenia                                       35
Lithuania                                      35
Hong Kong (S.A.R.)                             34
Singapore                                      33
Croatia                                        31
Slovakia                                       28
Estonia                                        27
Belarus                                        24
Taiwan                                         23
Chile                                          21
Kenya                                          20
United Arab Emirates                           19
Thailand                                       19
Latvia                                         19
Other Country (Not Listed Above)               18
Uruguay                                        16
Dominican Republic                             16
Nepal                                          15
South Korea                                    15
Costa Rica                                     15
Guatemala                                      13
Lebanon                                        12
Saudi Arabia                                   12
Albania                                        12
Armenia                                        12
Viet Nam                                       12
Peru                                           12
Luxembourg                                     11
Ecuador                                        11
Republic of Moldova                            10
Bosnia and Herzegovina                         10
Georgia                                         9
Tunisia                                         9
Morocco                                         8
El Salvador                                     8
Malta                                           8
The former Yugoslav Republic of Macedonia       7
Jordan                                          7
Ghana                                           7
Cyprus                                          7
Venezuela, Bolivarian Republic of...            7
Paraguay                                        6
Uganda                                          6
Iceland                                         6
Azerbaijan                                      5
Honduras                                        5
Zimbabwe                                        5
Côte d'Ivoire                                   5
Kyrgyzstan                                      4
Ethiopia                                        4
Cuba                                            4
Cameroon                                        4
Bolivia                                         4
Swaziland                                       3
Syrian Arab Republic                            3
Myanmar                                         3
Algeria                                         3
Bahrain                                         3
Nicaragua                                       3
Afghanistan                                     2
Uzbekistan                                      2
Burundi                                         2
Senegal                                         2
Sudan                                           2
United Republic of Tanzania                     2
Mongolia                                        2
Congo, Republic of the...                       2
Kuwait                                          2
Montenegro                                      2
Panama                                          2
Mauritius                                       2
Cape Verde                                      1
Timor-Leste                                     1
Brunei Darussalam                               1
Jamaica                                         1
Libyan Arab Jamahiriya                          1
Liechtenstein                                   1
Yemen                                           1
Somalia                                         1
Togo                                            1
Republic of Korea                               1
Iraq                                            1
Mozambique                                      1
Turkmenistan                                    1
Rwanda                                          1
Monaco                                          1
Cambodia                                        1
Qatar                                           1
Name: Country, dtype: int64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).